{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        {% if value == 1 %}
            {% set status = 'success' %}
            {% set label = 'Success' %}
        {% elseif value == 2 %}
            {% set status = 'danger' %}
            {% set label = 'Failed' %}
        {% endif %}

        <div>
            <span class="label label-{{ status }}">{{ label }}</span><br />
        </div>

    {% else %}

        <div>
            <span class="label label-default">
                <i class='fa fa-spinner fa-spin '></i> In progress
            </span><br />
        </div>

        <!--<div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40%
            </div>
        </div>-->

    {% endif %}
{% endblock %}