{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value < 1.05 %}
        {% set status = 'success' %}
    {% elseif value < 1.5 %}
        {% set status = 'warning' %}
    {% else %}
        {% set status = 'danger' %}
    {% endif %}

    <div>
        <span class="label label-{{ status }}">{{ value * 100 }}%</span><br />
    </div>
{% endblock %}